<div id="slideshow" class="carousel slide hidden-xs" data-ride="carousel" data-speed="{{ carroussel.vitesse }}">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		{% for media in carroussel.medias %}
		<li data-target="#slideshow" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
		{% endfor %}
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		{% for media in carroussel.medias %}
		<div class="item{% if loop.first %} active{% endif %}">
			<div>
				<img src="{{ asset('images/original/' ~ media.fichierNom) }}" alt="image">
				{% if media.descriptif is not null %}
				<div class="carousel-caption"><h2 style="color:#fff;font-style:italic;">{{ media.descriptif|raw }}</h2></div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#" data-slide="prev">
		<!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
	</a>
	<a class="right carousel-control" href="#" data-slide="next">
		<!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
	</a>
</div>