<!-- footer -->
<div class="container">
	<div class="row">
		<div class="container">
			<hr class="marron">
			<footer>
				<div class="row">
					<div class="col-lg-12">
						<p class="minifoot">Copyright &copy; {{ app.session.get('version').nom }} - {{ annee() }}</p>
					</div>
				</div>
			</footer>
		</div>
	</div>
</div>
<!-- footer -->
